body {
  overflow-y: hidden;
}

.arrow {
  border: solid black;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  padding: 1rem;
  opacity: 1;
  z-index: 1;
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms ease-in-out;
}

.arrow.hidden {
  cursor: default;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.right {
  transform: rotate(-45deg);
  position: fixed;
  right: 1rem;
  top: 50%;
}

.left {
  transform: rotate(135deg);
  position: fixed;
  left: 1rem;
  top: 50%;
}

.very-wide {
  white-space: nowrap;
  transition: transform 500ms ease-in-out;
}

.container {
  width: 90vw;
  overflow-x: hidden;
}

img {
  width: 70vw;
  max-height: 80vh;
  margin: 1rem 15vw;
}

.nav-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 1rem;
}

.nav-dots .border {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: gray;
  margin: 0.5rem;
}

.nav-dots .border nav {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: gray;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.nav-dots .border .filled {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: gray;
  opacity: 1;
}
